* {box-sizing: border-box;}
body::-webkit-scrollbar {
    width: 0.7rem;
}
body::-webkit-scrollbar-track {
    background-color: #0D0F12;
}
body::-webkit-scrollbar-thumb {
    background-color: lawngreen;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0D0F12;
    color: #e7eec0;
    margin: auto;
    height: 100%;
}
.main {
    font-size: 25px;
    animation: colour-animate 5s;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}
@keyframes colour-animate {
    from {
        filter: hue-rotate(0deg)
    }
    to {
        filter: hue-rotate(360deg)
    }
}
.nav {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    box-shadow: #00000050 2px 5px 5px;
}
.main {
    margin-top: 50px;
}
.main p {
    margin: 40vh;
}